.pageBooking{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.imgBooking{
    width: 50%;
}

.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textDescBooking{

}

select{
    height: 3em;
    border-radius: .5em;
    margin-bottom: 1em;
}