.pageBooking{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.imgBooking{
    width: 50%;
    border-radius: .5em;
}

.formBookingAll{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formBooking{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E2952;
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    width: fit-content;
    box-shadow: 10px 10px 8px #273a81;
}

.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    height: 3em;
    border: none;
    border-radius: .5em;
}

select{
    height: 3em;
    border-radius: .5em;
    margin-bottom: 1em;
}