.flex-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    text-align: center;
}

/* .div2{
    width: 100%;
} */

select{
    height: 3em;
    border-radius: .5em;
    margin-bottom: 1em;
}