body{
    display : flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Phantomsans, sans-serif;
    height: 100vh;
}

.FormInscription{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E2952;
  color: white;
  padding: 1em;
  border-radius: 0.5em;
  width: 50vw;
  margin-top: 3em;
  box-shadow: 10px 10px 8px #273a81;
}

.inputName{
    margin-bottom:3%;
    width: 70%;
    height: 3em;
    border: none;
    border-radius: .5em;
    box-shadow:  5px 5px 15px #1b2549,
    -5px -5px 15px #243263;
    /* box-shadow: 0px 0px 15px 5px rgb(138, 94, 94); */
}

button{
    width:fit-content;
}

/* CSS button*/
.buttonSubmit {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 1em;
  justify-content: center;
  line-height: .5em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.buttonSubmit:active,
.buttonSubmit:hover {
  outline: 0;
}

.buttonSubmit span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.buttonSubmit:hover span {
  background: none;
}

.signInBtn{
  width: fit-content;
  font-weight: 700;
  font-size: 1em;
  background: none;
  outline: none;
  border: none;
  display: flex;
  text-align: center;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .FormInscription{
    width: 80vw;
  }
}