.pagePsartek{
    display: flex;
    justify-content: center;
}


.psartek{
    border-radius: .5em;
    padding: 1em;
    color: white;
    background-color: midnightblue;
    width: 50%;
    margin-bottom: 35vh;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 8px teal;
}