.pageCalendar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.list-day {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  text-align: center;
  padding: 0;
}

.morning,
.afternoon {
  border: 1px solid black;
  margin: .5em;
  border-radius: .3em;
  cursor: pointer;
  background-color: greenyellow;
  color: white;
  font-weight: 700;
}

.morning:hover,.afternoon:hover{
  background-color: lightblue;
  transition: .7s;
}

.afternoon:disabled, .morning:disabled{
  background-color: red;
  cursor: default;
  color: white;
}

button{
  width: 8em;
}

.buttonSubmit {
  margin: 1em;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 1em;
  justify-content: center;
  line-height: .5em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  }
  
  .buttonSubmit:active,
  .buttonSubmit:hover {
  outline: 0;
  }
  
  .buttonSubmit span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  }
  
  .buttonSubmit:hover span {
  background: none;
  }