.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
}

.table thead th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #333;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #e6e6e6;
}

.table td {
  border-bottom: 1px solid #ddd;
}

h1 {
  text-align: center;
  margin-bottom: 10vh;
}
